#ignore node_modules folder
#ignore node_modules folder
node_modules/


#ignore chatTemplate folder
chatTemplate/

#ignore zip file
*.zip
chatTemplate.zip

#ignore bower_components
public/bower_components/

#ignore emojione library
public/emojione