<% extend("../home.ejs") %>

<div class="container-fluid">
    <div class="row content">
        <!-- include('sections/leftSidenav'); -->
        <%- include('./contentLeft.ejs'); %>

        <!-- include('sections/rightSidenav'); -->
        <%- include('./contentRight.ejs'); %>
    </div>
</div>