<% allContentChat.forEach( (element,index)=>{ %>
<div class="modal fade" id="imagesModal_<%= element._id %>" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Shared Media</h4>
            </div>
            <div class="modal-body">
                <div class="all-images" style="visibility:visible;">
                        <% element.messenger.forEach( (message)=>{ %>
                            <% if(message.typeMessenger == "photo"){ %> 
                                <img src="data: <%= message.file.fileType %>; base64, <%= bufferBase64ToString(message.file.data) %>">
                            <% } %>                         
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<% }); %>